<div class="col card p-2 mx-1">
  <%= link_to 'Art', works_art_path %>
</div>
<div class="col card p-2 mx-1">
  <%= link_to 'Making', works_making_path %>
</div>
<div class="col card p-2 mx-1">
  <%= link_to 'Memo', works_memo_path %>
</div>